@charset "utf-8";

#Foto1{
	display: block;
	margin-right: auto;
    width: 50%;
    height: 1%;
    padding: 20px;
    
}
#Foto2{
	display: block;
	margin-left: auto;
    width: 10%;
    height: 50%;
}