@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Version: 2
 * Modificado por :
 */

header{
	background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

body{
	width:961px;
	font-size:16px;
	font-family: Helvetica, Arial;
	padding:0px;
	margin:0 auto;
	overflow:auto;
}
h1,h2,h3{ 
	color:#000; 
	margin:0;
}
p{
	margin:0;
	text-align:center;
}
a{
	text-decoration:none;
	color:#ccc; 
}
a:hover{
	color:#000;
}
table{
	border: 1%;
	width:100%;
	background:#ccc; 
	overflow:hidden;
	border-collapse:collapse; 
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
} 
table td{
	width: 50%;
	text-align: center;
}
table th{
	color:#FFF;
	text-align:center;
	padding:10px 10px;
	background-color:#000;
	height:20px;
}
table tr:nth-child(even) {/* css3 */ 	
 	color:#fff;
	background:#ccc; 
}
table tr:nth-child(odd) {/* css3 */
	background: #fff;
}
table tr:hover{
	color:#fff;
	background-color:#7a7a7a;
}
table td:hover{
	width:"50%";
	text-align: left;
}

form{
	width:400px;
	padding:10px;
	border:2px solid #CCC;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
form label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:140px;
	float:left;
}

form span{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:140px;
}
form input ,form textarea,form select{
	background-color:#f0f0f0;
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #000;
	width:200px;max-width:200px;
	margin:2px 0 20px 10px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
form input:focus, form textarea:focus,form select:focus{
	background-color:#FFF;
	
}
input[type="submit"], input[type="button"], input[type="reset"]{
	margin:2px 0 0px 10px;
	background-color:#000;
	font-size:15px;
	font-weight:bold;
	float:right;
	cursor:pointer;
	width:auto;
	padding:5px 10px;
	color:#FFF;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#000));background: -moz-linear-gradient(top, white, #000);/* css3 */ 
}
input[type="submit"]:hover , input[type="button"]:hover, input[type="reset"]:hover{
	background-color:#000;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(white)); /* css3 */
	background: -moz-linear-gradient(top, #000, white); /* css3 */
}
input[type="radio"],input[type="checkbox"]{
	clear:both;
	margin-left:130px;
	padding:0;
	clear:both;
	width:20px;
	text-align:right;
	clear:both;
	height:15px;
	margin-bottom:0px;
}
form .radio,form .checkbox{
	line-height:20px;
	margin-bottom:0px;
	font-size:12px;
	padding:4px 2px;
	display:block;
	float:left;
	font-size:12px;
	height:15px;
	width:200px;
}

#banner{
	background-color:#CCC;
	background-position:bottom center;
	width:100%;
	overflow:hidden;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#banner .titulo{
	
	text-align:center;
	margin-right:200px;
	font-weight:bold;
}
#banner .subtitulo{
	text-align:right;
	margin-right:200px;
	font-weight:normal;
}

#contenido{
	border:2px solid #CCC;
	background-color:#FFF;
	margin:0 auto;
	width:96%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#pie{
	color:#FFF;
	background-color:#fff;
	margin:0 auto;
	margin-top:10px;
	width:100%;
	padding:20px 0;
	text-align:center;
	background-color:#ccc;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#000));background: -moz-linear-gradient(top, white, #000); /* css3 */
	
}
#pie a{
	color:#FFF;
	text-decoration:none;
}
.center{
	margin:0 auto;
}
.clear{
	width:1px;
	clear:both;
}
#div-1 {
      position:relative;
}
#div-1a {
      position:absolute;
      top:0;
      right:0;
      width:200px;
}
#div-1b {
     position:absolute;
     top:0;
     left:0;
     width:200px;
}
#div1 {
      position:relative;
}
#div1a {
      position:absolute;
      top:0;
      right:0;
      width:200px;
}
#div1b {
     position:absolute;
     top:0;
     left:0;
     width:200px;
}
#imagen2{
	position: absolute;
	margin-right: auto;
    width: 30%;
    height: 21%;
    padding: 20px;
      right:0;
}
#imagen{
	position: absolute;
	margin-right: auto;
    width: 50%;
    left:0;
}
img{
	width: 10%
	height:10%;
}